div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar
      a.brand(href="#") Send a Pic 

.container-fluid
 .row-fluid
  .span2
    .well.sidebar-nav(style="margin-top:55px;height:400px;overflow:scroll")
         ul#saved

  .span10 
   #container
   center
    a#take-photo.btn.btn-large.btn-danger(href="#")
     b.icon-camera.icon-white


div.container
  div#obsolete.row
    h1 Your browser will soon be obsolete.

    h3 To use this demo, you will need:

    dl
      dd
        a(href="http://dev.opera.com/labs", target="_blank") Opera Labs Camera build
      dd
        a(href="http://tools.google.com/dlpage/chromesxs", target="_blank") Google Chrome 21 

    h3
      a(href="http://weblog.bocoup.com/javascript-webrtc-opera-mobile-12/") Find out more
